/* App styles */
.app-container {
    margin: 1rem;
    box-shadow: 3px 3px 6px var(--gray), -3px 0 6px var(--gray);
}
.app-container > div {
    width: 100%;
    //border: 1px solid black;
}
#clock {
    font-size: 5rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    //box-shadow: 6px 6px 15px var(--gray);
}

/* alarms */
#alarms {
    height: auto;
    min-height: 100px;
    background: #FFF;
}
#alarms.clicked {
    display: none;
}
.alarms-toggle {
    cursor: pointer;
    background: silver;
    padding-top: .5rem;
    padding-bottom: .5rem;
    //box-shadow: 3px 3px 6px var(--gray);
    z-index: 1;
}
.alarm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: 1px solid var(--gray);
    cursor: pointer;
}
.alarm-item:last-child {
    border-bottom: none;
}
.left-container {
    display: flex;
    flex-direction: column;
}
.left-container > div {
    margin: 5%;
    padding: 5%;
}
.right-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.right-container > div {
    margin: 5%;
    padding: 5%;
}
.imgbox {
    height: 40px;
    width: 40px;
    background: gray;
    border-radius: 50%;
}
.alarm-name {
    font-weight: bold;
}
/* log */
#log {
    height: auto;
    min-height: 100px;
    background: #FFF;
}
#log.clicked {
    display: none;
}
.log-toggle {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: silver;
    cursor: pointer;
    //box-shadow: 3px 3px 6px var(--gray);
    z-index: 2;
}
  /* log entries */
.log-entry {
    border-bottom: 1px solid var(--gray);
    padding: .5rem;
    cursor: pointer;
}
.log-entry:last-child {
    border-bottom: none;
}
.log-header {
    display: flex;
    justify-content: space-between;
    padding: .33rem;
}
.log-body {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    text-align: start;
}