/* App styles */
.app-container {
    //border: 5px solid black;
    padding: 1rem;
    font-size: 2rem;
}
.app-container > div {
    width: 100%;
}
#clock {
    border: 1px solid black;
    font-size: 3rem;
}
#alarms {
    height: 100px;
    border: 1px solid black;
}