/* App styles */
.app-container {
    //border: 5px solid black;
    padding: 1rem;
}
.app-container > div {
    width: 100%;
    border: 1px solid black;
}
#clock {
    font-size: 3rem;
    height: auto;
}
#alarms {
    height: auto;
    min-height: 100px;
}
#log {
    height: auto;
    min-height: 100px;
}

.alarm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.left-container {
    display: flex;
    flex-direction: column;
}
.left-container > div {
    margin: 5%;
    padding: 5%;
}
.right-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.right-container > div {
    margin: 5%;
    padding: 5%;
}
.imgbox {
    height: 40px;
    width: 40px;
    background: gray;
    border-radius: 50%;
}
/* log entries */
.log-entry {
    border-bottom: 1px solid gray;
    padding: .5rem;
    cursor: pointer;
}
.log-entry:last-child {
    border-bottom: none;
}
.log-header {
    display: flex;
    justify-content: space-between;
    padding: .33rem;
}
.log-body {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    text-align: start;
}