// Clock styles
#clock {
    font-size: 5rem;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #FFF;
    //box-shadow: 6px 6px 15px var(--gray);
}

@media (max-width: 468px) {
    #clock {
        font-size: 3rem;
    }
}