// Footer styles
.page-footer {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: 1px solid var(--gray);
    padding: 1rem;
}
footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
    width: auto;
    color: blue;
    letter-spacing: 1px;
}
footer a span{
    padding-right: 5px;
}