/* Log styles */
#log {
    height: auto;
    min-height: 100px;
    background: #FFF;
}
#log.clicked {
    display: none;
}
.log-toggle {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: silver;
    cursor: pointer;
    //box-shadow: 3px 3px 6px var(--gray);
    z-index: 2;
}
  /* log entries */
.log-entry {
    border-bottom: 1px solid var(--gray);
    padding: .5rem;
    cursor: pointer;
}
.log-entry:last-child {
    border-bottom: none;
}
.log-header {
    display: flex;
    justify-content: space-between;
    padding: .33rem;
}
.log-body {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    text-align: start;
}