// TimeShift styles
#timeshift {
    height: auto;
    min-height: 100px;
    background: transparent;
}
#timeshift.clicked {
    display: none;
}
.timeshift-toggle {}

// timeshift layout
.timeshift-container {
    //margin-bottom: 1rem;
}
.ts-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.ts-row {
    //width: 100%;
    border-bottom: 1px solid black;
    padding: .3rem;
}
.ts-row:last-child {
    border-bottom: none;
    padding-bottom: 1rem;
}
.ts-left {
    width: 33%;
    float: left;
    text-align: right;
}
.ts-right {
    width: 66%;
    float: right;
}
.save {
    padding: 1rem;
    text-align: center;
}
.save-wrapper {
    
    h3 {
        background: black;
        text-transform: uppercase;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        width: 20%;
        margin-left: 40%;
        border-radius: 5px;
        border: 1px solid black;
    }
    h3:hover {
        background: var(--white);
        color: var(--offblack);
        transition: .15s ease-in-out;
        //border: 1px solid black;
    }
}