/* TopNav Styles */
/* navbar */
.nav-list2 {
    display: none;
}
.brand-name {
    z-index: -1;
    padding: 1rem;
    span {}
}

/* nav drawer */
.nav-drawer {
    position: fixed;
    top: calc(2rem + 48px);
    left: 0;
    width: 100%; //can change
    height: auto; //can change
    background: rgba(255,255,255,0.8);
    transition: 300ms ease-in-out;
    transform: translateX(-100%);
    //display: none;
    //transform 300ms ease-in-out;
    .nav-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 5%;
        padding-right: 5%;
        //transition: transform 300ms ease-in-out;
        li {
            display: inline-block;
            border-top: 1px solid gray;
        }
        li:last-child {
            border-bottom: 1px solid gray;
        }
        a {
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            padding-left: .5rem;
            padding-right: .5rem;
            padding-top: .8rem;
            padding-bottom: .8rem;
            color: var(--offblack);
        }
        a:hover {
            transition: 200ms;
            background: var(--gray);
        }
    }
}

.nav-drawer.clicked {
    transform: translateX(0);
}

@keyframes menu-in {
    0% {
        opacity: 0;
        background: transparent;
    } 100% {
        opacity: 1;
        background: white;
    }
}

@media (min-width: 968px) {
    .nav-list2 {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        //float: right;
        list-style: none;
        
        li {
            border-right: 1px solid var(--gray);
        }
        li:last-child {
            border-right: none;
        }
        li a {
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: .8rem;
            padding-bottom: .8rem;
            color: var(--offblack);
        }
        li a:hover {
            transition: 200ms;
            background: var(--gray);
        }
    }
    .menu-btn {
        display: none;
    }
    .brand-name {
        //position: static;
        //display: inline-block;
    }
}