/* TopNav Styles */
/* nav */
.nav-drawer {
    display: none;
    //transform 300ms ease-in-out;
}
.nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    //transition: transform 300ms ease-in-out;
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: .5rem;
        color: var(--offblack);
    }
    a:hover {
        background: var(--offwhite);
    }
}
/* brand */
.brand-name {
    z-index: -1;
}
/* icon and clicks */
.nav-drawer.clicked {
    display: block;
    //animation: menu-in 30ms ease-in-out forwards;
}

@keyframes menu-in {
    0% {
        opacity: 0;
        background: transparent;
    } 100% {
        opacity: 1;
        background: white;
    }
}