/* colors */
:root {
  --white: white;
  --offwhite: whitesmoke;
  --black: black;
  --offblack: #101010;
  --gray: lightgray;
  --silver: silver;
}

/* reset styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: var(--offblack);
  background: var(--offwhite);
}

main {
  display: block;
}

a {
  color: var(--offblack);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.shrink-on-scroll {
  transition: all 300ms ease-in-out;
}

.shrink-on-scroll.hide {
  transform: translateY(calc(-2rem - 50px));
}

.alarms-toggle, .log-toggle {
  border-bottom: 1px solid var(--offblack);
}

/* GitHub icon style */
/*.github-logo {
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 50px;
    width: 50px;
}*/
ul {
  list-style: none;
}

.section-header {
  cursor: pointer;
  background: silver;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
}

.section-header:hover {
  box-shadow: inset -1px -1px 12px gray;
}

/* Page Layout styles */
.page-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* layout sections */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px gray;
}

.main-content {
  margin-top: calc(1rem + 60px);
  background: var(--offwhite);
  flex: 1;
  padding: 1rem;
  border-bottom: 1px solid var(--gray);
}

@media (min-width: 968px) {
  .content-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    background: transparent;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1748px) {
  .content-wrapper {
    margin-left: 20%;
    margin-right: 20%;
  }

  .page-header {
    padding-left: 20%;
    padding-right: 20%;
  }
}
/* TopNav Styles */
/* navbar */
.nav-list2 {
  display: none;
}

.brand-name {
  z-index: -1;
  padding: 1rem;
}
/* nav drawer */
.nav-drawer {
  position: fixed;
  top: calc(2rem + 48px);
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  transition: 300ms ease-in-out;
  transform: translateX(-100%);
}
.nav-drawer .nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 5%;
  padding-right: 5%;
}
.nav-drawer .nav-list li {
  display: inline-block;
  border-top: 1px solid gray;
}
.nav-drawer .nav-list li:last-child {
  border-bottom: 1px solid gray;
}
.nav-drawer .nav-list a {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: var(--offblack);
}
.nav-drawer .nav-list a:hover {
  transition: 200ms;
  background: var(--gray);
}

.nav-drawer.clicked {
  transform: translateX(0);
}

@keyframes menu-in {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: white;
  }
}
@media (min-width: 968px) {
  .nav-list2 {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .nav-list2 li {
    border-right: 1px solid var(--gray);
  }
  .nav-list2 li:last-child {
    border-right: none;
  }
  .nav-list2 li a {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--offblack);
  }
  .nav-list2 li a:hover {
    transition: 200ms;
    background: var(--gray);
  }

  .menu-btn {
    display: none;
  }
}
/* App styles */
.app-container {
  margin: 1rem;
  box-shadow: 3px 3px 6px var(--gray), -3px 0 6px var(--gray);
}

.app-container > div {
  width: 100%;
}

#clock {
  font-size: 5rem;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: #FFF;
}

@media (max-width: 468px) {
  #clock {
    font-size: 3rem;
  }
}
#timeshift {
  height: auto;
  min-height: 100px;
  background: transparent;
}

#timeshift.clicked {
  display: none;
}

.ts-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.ts-row {
  border-bottom: 1px solid black;
  padding: 0.3rem;
}

.ts-row:last-child {
  border-bottom: none;
  padding-bottom: 1rem;
}

.ts-left {
  width: 33%;
  float: left;
  text-align: right;
}

.ts-right {
  width: 66%;
  float: right;
}

.save {
  padding: 1rem;
  text-align: center;
}

.save-wrapper h3 {
  background: black;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  width: 20%;
  margin-left: 40%;
  border-radius: 5px;
  border: 1px solid black;
}
.save-wrapper h3:hover {
  background: var(--white);
  color: var(--offblack);
  transition: 0.15s ease-in-out;
}

#alarms {
  height: auto;
  min-height: 100px;
  background: transparent;
  display: none;
}

.alarms-container {
  background: #FFF;
}

#alarms.clicked {
  display: block;
}

.alarm-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-bottom: 1px solid var(--gray);
  cursor: pointer;
}

.alarm-item:last-child {
  border-bottom: none;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.left-container > div {
  margin: 5%;
  padding: 5%;
}

.right-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.right-container > div {
  margin: 5%;
  padding: 5%;
}

.imgbox {
  height: 40px;
  width: 40px;
  background: gray;
  border-radius: 50%;
}

.alarm-name {
  font-weight: bold;
}

/* Log styles */
#log {
  height: auto;
  min-height: 100px;
  background: transparent;
  display: none;
}

.log-container {
  background: #FFF;
}

#log.clicked {
  display: block;
}

/* log entries */
.log-entry {
  border-bottom: 1px solid var(--gray);
  padding: 0.5rem;
  cursor: pointer;
}

.log-entry:last-child {
  border-bottom: none;
}

.log-header {
  display: flex;
  justify-content: space-between;
  padding: 0.33rem;
}

.log-body {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 30px;
  text-align: start;
}

.menu-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
  padding: 1rem;
}
.menu-btn span {
  position: absolute;
  background: black;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  display: block;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
  transition: 0.5s;
}
.menu-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.menu-btn span:nth-child(3) {
  transform: translateY(10px);
}

.menu-btn.clicked span:nth-child(1) {
  transform: rotate(-45deg);
}

.menu-btn.clicked span:nth-child(2) {
  transform: translateX(-60px);
  opacity: 0;
}

.menu-btn.clicked span:nth-child(3) {
  transform: rotate(45deg);
}

.page-feedback {
  margin: 2rem;
  border: 1px solid var(--gray);
  background: #FFF;
  box-shadow: 3px 3px 6px var(--gray);
}

.feedback-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  background: #FFF;
}
.feedback-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.feedback-container > * > * {
  width: 80%;
}

form.feedback-form p {
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
  width: 100%;
}
form.feedback-form input.submit-btn {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-footer {
  background: var(--white);
  border-top: 1px solid var(--gray);
  padding: 1rem;
}

footer a {
  color: blue;
  text-decoration: underline;
}

/*# sourceMappingURL=output.css.map */
