.text-center {
    text-align: center;
}

.page-header {
    transition: all 300ms ease-in-out;
}

.page-header.hide {
    //transition: .2s;
    //display: none;
    transform: translateY(calc(-2rem - 50px));
}