/* Icon Styles */
/* menu icon */
.menu-svg {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.menu-svg.clicked .nav-drawer {
    transform: translate(150px, 200px) rotate(20deg);
}
.clicked {
    display: block !important;
}