/* Page Layout styles */
.page-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
/* page sections */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,.8);
    box-shadow: 3px 3px 10px gray;
}
.main-content {
    margin-top: calc(1rem + 60px);
    background: var(--offwhite);
    flex: 1;
    padding-top: 1rem;
    border-bottom: 1px solid var(--gray);
}
@media (min-width: 968px) {
    .content-wrapper {
        margin-left: 16.5%;
        margin-right: 16.5%;
        width: auto;
        background: transparent;
    }
    .page-header {
        display: flex;
        justify-content: space-between;
        //align-items: flex-end;
        padding-left: 16.5%;
        padding-right: 16.5%;
    }
}