.menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 1;

    span {
        position: absolute;
        background: black;
        width: 30px;
        height: 3px;
        border-radius: 3px;
        display: block;
        top: calc(50% - 1px);
        left: calc(50% - 15px);
        transition: .5s;
    }
    span:nth-child(1) {
        transform: translateY(-10px);
    }
    span:nth-child(3) {
        transform: translateY(10px);
    }
}